<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.I.P.E.R Landing Page</title>
    <link rel="stylesheet" href="/stylesheets/index_style.css">
</head>

<body>
    <header>
        <div class="logo">D.I.P.E.R</div>
        <div class="auth-buttons">
            <a href="/register" class="register-button">Register</a>
            <a href="/login" class="login-button">Login</a>
        </div>
    </header>

    <section class="about">
        <h1>About D.I.P.E.R</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula, erat vel consequat convallis, sem urna dictum risus, at tincidunt ligula libero nec nulla.</p>
    </section>

    <section class="contributors">
        <h2>Contributors...</h2>
        <div class="contributors-list">
            <ul>
                <li>Sandesh Lavshetty(D.I.P.E.R Creator & Developer )</li>
                <li>Manikanta Bojja(frontend compnents presenting in next version)</li>
                <li>Apremaya Goud(Figma designs presenting in next version) </li>
                <li>Counting.. you could be next..</li>
            </ul>
        </div>
    </section>

    <section class="contributors">
        <h2>Contact</h2>
        <div class="contributors-list">
            <p>@ bt23csa043@gmail.com</p>
        </div>
    </section>

</body>

</html>
