<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.N.S.P.I.R.E Landing Page</title>
    <link rel="stylesheet" href="/stylesheets/index_style.css">
</head>

<body>
    <header>
        <div class="logo">I.N.S.P.I.R.E</div>
        <div class="auth-buttons">
            <a href="/register" class="register-button">Register</a>
            <a href="/login" class="login-button">Login</a>
        </div>
    </header>

    <section class="about">
        <h1>About I.N.S.P.I.R.E</h1>
        <p>Hey there! 👋 I'm Sandesh Lavshetty, a 2nd-year student, and I'm thrilled to introduce you to I.N.S.P.I.R.E. – that’s the Integrated Network for Scholarly Progress, Instruction, and Resource Education.</p>
        <p>We kicked off this project with a mission to tackle the bus travel challenge, but as our ideas evolved, we realized there’s so much more we can do! We’re constantly brainstorming and expanding our horizons, so stay tuned for exciting updates and new features. And if you’re passionate about what we’re doing and want to contribute, we’d love to have you on board. Thanks for joining us on this journey, and enjoy exploring all that I.N.S.P.I.R.E. has to offer!</p>
    </section>

    <section class="contributors">
        <h2>Contributors...</h2>
        <div class="contributors-list">
            <ul>
                <li>Sandesh Lavshetty(I.N.S.P.I.R.E Creator & Developer )</li>
                <li>Praneeth Palugula(frontend compnents presenting in next version)</li>
                <li>Manikanta Bojja(Mangement and Website maintainer)</li>
                <li>Apremaya Goud(Figma designs presenting in next version) </li>
                <li>Counting.. you could be next..</li>
            </ul>
        </div>
    </section>

    <section class="contributors">
        <h2>Contact</h2>
        <div class="contributors-list">
            <p>Manikanta Bojja</p>
            <p>@ bt23csa043@iiitn.ac.in</p>
        </div>
    </section>

</body>

</html>
