<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.N.S.P.I.R.E Token</title>
    <link rel="stylesheet" href="/stylesheets/ticket_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <h1>I.N.S.P.I.R.E</h1>
            </div>
            <div class="logout">
                <a href="/logout">Logout</a>
            </div>
        </header>
        
        <main>
            <div class="token-box">
                <h2>Your I.N.S.P.I.R.E Token</h2>
                <div class="date-time">
                    <h3>Date & Time</h3>
                    <p id="currentDateTime"><%= time %></p>
                </div>
                <div class="option-choosed">
                    <h3>Option Chosen</h3>
                    <p id="chosenOption"><%= option %></p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
