/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1e1e1e; /* Dark background */
  color: #ffffff; /* Light text color */
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Dark gray background */
  padding: 20px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 28px;
  font-weight: 600;
}

.logout {
  background-color: #ff4d4d; /* Red color for logout */
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: #e60000; /* Darker red on hover */
}

/* Poll Creation Form */
.poll-container {
  background-color: #2b2b2b; /* Slightly lighter dark background */
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

@media (min-width: 1024px) {
  .poll-container {
    width: 50%;
  }
}

.poll-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.poll-container input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #ffffff;
}

.poll-container .button.create-button {
  background-color: #28a745; /* Green for create poll button */
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.poll-container .button.create-button:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button-container .button.stop-button {
  background-color: #dc3545; /* Red for stop poll button */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.button-container .button.stop-button:hover {
  background-color: #c82333; /* Darker red on hover */
}

/* Table */
.table-container {
  width: calc(100% - 40px);
  margin: 20px;
}

.table-header {
  display: flex;
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.table-header-cell {
  width: 20%;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  border-right: 1px solid #444;
}

.table-header-cell:last-child {
  border-right: none;
}

.table-row {
  display: flex;
  background-color: #2b2b2b;
  margin: 5px 0;
  border-radius: 5px;
}

.table-cell {
  width: 20%;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #444;
}

.table-cell:last-child {
  border-right: none;
}

.approve-button {
  background-color: #28a745; /* Green for approve button */
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.approve-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.delete-button {
  background-color: #dc3545; /* Red for delete button */
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333; /* Darker red on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .button-container,
  .table-container {
      width: 100%;
  }

  .table-row {
      flex-direction: column;
      text-align: left;
  }

  .table-cell {
      width: 100%;
      border-right: none;
      padding: 5px;
  }

  .button {
      width: 100%;
  }

  .logout {
      padding: 5px;
      font-size: 14px;
  }
}
