@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 142 53% 95%;
		--foreground: 142 5% 4%;
		--card: 142 50% 90%;
		--card-foreground: 142 5% 10%;
		--popover: 142 53% 95%;
		--popover-foreground: 142 95% 4%;
		--primary: 142 69% 36%;
		--primary-foreground: 0 0% 100%;
		--secondary: 142 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 104 30% 85%;
		--muted-foreground: 142 5% 35%;
		--accent: 104 30% 80%;
		--accent-foreground: 142 5% 10%;
		--destructive: 0 53% 30%;
		--destructive-foreground: 142 5% 90%;
		--border: 142 30% 50%;
		--input: 142 30% 18%;
		--ring: 142 69% 36%;
		--radius: 0.75rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: 142 50% 5%;
		--foreground: 142 5% 90%;
		--card: 142 50% 4%;
		--card-foreground: 142 5% 90%;
		--popover: 142 50% 5%;
		--popover-foreground: 142 5% 90%;
		--primary: 142 69% 36%;
		--primary-foreground: 0 0% 100%;
		--secondary: 142 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 104 30% 15%;
		--muted-foreground: 142 5% 60%;
		--accent: 104 30% 15%;
		--accent-foreground: 142 5% 90%;
		--destructive: 0 53% 30%;
		--destructive-foreground: 142 5% 90%;
		--border: 142 30% 18%;
		--input: 142 30% 18%;
		--ring: 142 69% 36%;
		--radius: 0.75rem;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
